# XDR Generated Packages
# We ignore the specific package name used in the workflow 
# to ensure it's only handled via GitHub Artifacts.
xdrdaemonset.yaml

# Local Environment / Tooling
.env
.python-version
.kube/
.gcloud/

# OS Specific
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
